body{
       background-image: url(https://previews.123rf.com/images/romastudio/romastudio1603/romastudio160300203/54088672-healthy-food-background-studio-photo-of-different-fruits-and-vegetables-on-white-wooden-table-high-r.jpg);
    }

.center{
  top: 20%;
  left: 40%;
  width: 100%;
  height: 23px;
  font:bold;
}

